<!--
  Generated template for the TrackingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton= "true">
    <ion-title>
      SMRT Tracking
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only large (click)="goNotificationsPage(account)">
        <ion-icon class="notificationIcon" name="mail"></ion-icon>
        <ion-badge *ngIf="messageCount" class="nav-badge">
          {{ messageCount }}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="account">
    <ion-item class="item">
      <ion-avatar item-start>
        <img [src]="page.avatarUrl" />
      </ion-avatar>
     <h2 class="name">
       {{ page.accountUsername }}
     </h2>
     <h2 class="model">
       {{ page.deviceModel }}
     </h2>
    </ion-item>
  </ion-card>
  <ion-card class="attendance">
    <ion-item class="item">
      <ion-icon name="log-in" item-start large></ion-icon>
      <h2 class="title">
        {{ page.checkInStation }}
      </h2>
      <h3 class="info">
        {{ page.checkInDate|dateFormat:'MMM DD HH:mm:ss' }}
      </h3>
    </ion-item>
    <ion-item class="item">
      <ion-icon name="log-out" item-start large></ion-icon>
      <h2 class="title">
        {{ page.checkOutStation }}
      </h2>
      <h3 class="info">
        {{ page.checkOutDate|dateFormat:'MMM DD HH:mm:ss' }}
      </h3>
    </ion-item>
  </ion-card>
  <ion-card class="tracking">
    <ion-item class="stations">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let station of stations">
            <div class="station">
              <station-icon [station]="station"></station-icon>
              <div class="name">
                {{ station.name }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="section" [ngClass]="page.trackingType">
      <h2 class="title">
        Section:
        {{ page.sectionName }}
      </h2>
      <h3 class="info">
        {{ page.trackingDate|dateFormat:'YYYY MMM DD HH:mm:ss' }}
      </h3>
      <h3 class="info-sm">
        {{ page.trackingAgo + " ago" }}
      </h3>
    </ion-item>
  </ion-card>
  <ion-fab bottom right mini>
    <button class="logoutButton" ion-fab (click) ="logout()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
