$smrtRed:    #FF2525;
$smrtOrange: rgb(255,175,0);
// login form
.loginList{
  padding: 10px;
  position: relative;
  top: 56px;
}
.loginBackground{
background-image: linear-gradient(rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url('../../images/background.jpg');
background-size:cover;
}
.lable{
  color: DarkRed;
  font-weight: bold;
}
.input{
  background-color: $smrtOrange;
}
.loginButton{
  background-color: $smrtRed;
  font-weight: bold;
}
.login{
  margin:26px;
}
