<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
    <button ion-button item-end (click)="clearAllMessages()">Clear All</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item class="topic" *ngFor="let topic of topics|sort:['topicId', true]" (click)="processReply(topic.topicId)">
      <ion-avatar item-start>
        <img [src]="topic.avatar">
      </ion-avatar>
      <h2 class="topicTitle">
        {{topic.title}}
        <span class="date">{{ topic.date|dateFormat:'MMM DD HH:mm:ss' }}</span>
      </h2>
      <ion-note class="content">{{topic.author}} : {{topic.content}}</ion-note>
      <p class="replyMessage">
        {{ topic.message }}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="messageForm.showInput">
  <ion-toolbar>
    <form (submit)="sendMessage()">
      <ion-searchbar placeholder="Type your message" showCancelButton="true" [(ngModel)]="messageForm.message" name="message" (ionCancel)="onInputCancel($event)"></ion-searchbar>
    </form>
  </ion-toolbar>
</ion-footer>
