$smrtRed:    #FF2525;
$smrtGrey:   #696969;
$smrtOrange: rgb(255,175,0);

page-notifications {
  .topic {
    margin : 6px;
    padding-top:10px;
    .date {
      color: DarkGray;
      font-size: 10px;
      float: right;
      line-height: 14px;
    }
    .topicTitle{
      color: $smrtOrange;
      font-weight: bold;
      font-size: 13px;
    }
    .replyMessage{
      margin :5;
      font-size:13px;
      color: $smrtRed;
    }
    .content{
      margin-top:10px;
      color:black;
      font-size: 14px;
    }

  }

}
